html, body {
    margin: 5;
    padding: 0;
  }
  #dropzone {
    padding: 24px;
    border-style: dashed;
    font-size: 20pt;
    width: 30%;
  }
  canvas {
    display: block;
    border: 5px solid black;
  }